/**********************************

Use: cmxform template

***********************************/
form.cmxform fieldset {
	margin-bottom: 10px;
	
}

form.cmxform legend {
	padding: 0 2px;
	font-weight: bold;
	_margin: 0 -7px; /* IE Win */
}

form.cmxform label {
	display: inline-block;
	line-height: 1.8;
	vertical-align: top;
	cursor: hand;
}

form.cmxform fieldset p {
	list-style: none;
	padding: 5px;
	margin: 0;
}

form.cmxform fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}

form.cmxform fieldset fieldset label {
	display: block;
	width: auto;
	
}

form.cmxform label { width: 100px; } /* Width of labels */
form.cmxform fieldset fieldset label { margin-left: 103px; } /* Width plus 3 (html space) */
form.cmxform label.error {
	margin-left: 60px;

	
}
form.cmxform label {
	width: 300px;
    
    font-weight: bold;
    color: #17124d;
}
form.cmxform textarea {
	width: 300px;
    height: 100px;
    font-weight: bold;
    color: #17124d;
}
form.cmxform input {
	height: 40px;
   width: 500px;
   padding: 0 10px;
   transform: all 0.3s;
}
form.cmxform textarea {
	height: 100px;
    width: 500px;
   padding: 0 5px;
   transform: all 0.3s;
}
form.cmxform input.submit {
	margin-bottom: 0px;
	
	height: 40px;
   width: 100px;
   cursor: pointer ;
   background:#2fd072;
   opacity: 0.7;
   border-radius: 3px;
   border: 1px solid#2fd072;
   transition: all 0.3s;
}


/*\*//*/ form.cmxform legend { display: inline-block; } /* IE Mac legend fix */

  
  .contact-us legend{
	font-size: 20px;
	  text-transform: uppercase;
	  font-weight: bold;
	  color: #535353;
	  text-align: center;
	  margin-bottom: 15px;
  
  }
  
  /*.contact-us {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-top:30px;
	
  }
  
  
  .col-sm-6 {
	float: left;
	margin-left: 9px;

	margin-bottom: 6px;
  }
  
  .col-md-6 {
	float: left;
	margin-left: 15px;
	margin-bottom:2px;
  }
  
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
 /* @media screen and (max-width: 600px) {
	.col-sm-6,.col-md-6  input[type=submit] {
	  
	  width: 600%;
	  margin-top: 0;
	}
  }*/
  