*{
  margin: 0;
  border: 0;
  
}

*{
  box-sizing: border-box;
}


.slider{
  width: 50%;
  height: 100%;
  margin: 100px auto;
}
.slick-slide{
 
  margin: 0px 28px;
}
.slick-slide img{
 
 width:250px;
 height: 250px;
}
.slick-prev:before,
.slick-next:before{
 
  color:#1abc9c;
}





@media (min-width:600px){
  .col-sm-1 {width: 8.33%;}
  .col-sm-2 {width: 16.66%;}
  .col-sm-3 {width: 25%;}
  .col-sm-4 {width: 33.33%;}
  .col-sm-5 {width: 41.66%;}
  .col-sm-6 {width: 50%;}
  .col-sm-7 {width: 58.33%;}
  .col-sm-8 {width: 66.66%;}
  .col-sm-9 {width: 75%;}
  .col-sm-10 {width: 83.33%;}
  .col-sm-11 {width: 91.66%;}
  .col-sm-12 {width: 100%;}    
}

@media (min-width:768px){
  .col-md-1 {width: 8.33%;}
  .col-md-2 {width: 16.66%;}
  .col-md-3 {width: 25%;}
  .col-md-4 {width: 33.33%;}
  .col-md-5 {width: 41.66%;}
  .col-md-6 {width: 50%;}
  .col-md-7 {width: 58.33%;}
  .col-md-8 {width: 66.66%;}
  .col-md-9 {width: 75%;}
  .col-md-10 {width: 83.33%;}
  .col-md-11 {width: 91.66%;}
  .col-md-12 {width: 100%;}
}

@media (min-width:992px){
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}

@media (min-width:1200px){
  .col-xlg-1 {width: 8.33%;}
  .col-xlg-2 {width: 16.66%;}
  .col-xlg-3 {width: 25%;}
  .col-xlg-4 {width: 33.33%;}
  .col-xlg-5 {width: 41.66%;}
  .col-xlg-6 {width: 50%;}
  .col-xlg-7 {width: 58.33%;}
  .col-xlg-8 {width: 66.66%;}
  .col-xlg-9 {width: 75%;}
  .col-xlg-10 {width: 83.33%;}
  .col-xlg-11 {width: 91.66%;}
  .col-xlg-12 {width: 100%;}
}
/* Start Upper Bar*/
.upper-bar{
  background-color:black;
  color: white;
  padding: 10px;
}


.upper-bar span{
  color: #bfc6c9;
}  


.upper-bar .get-quote{
  display: inline-block;
  border: 1px solid #1abc9c;
  padding: 2px 10px;
  margin-left: 20px;
}
.btn:hover{
  background-color: #1abc9c !important;
}


/*End Upper Bar*/ 


/*Start Navbar*/

.navbar-brand > span {
  font-size: 20px;
}

.navbar-brand span:first-child{
  color: #727272 ;
  font-weight: bold;
}

.navbar-brand span:last-child{
  color: #1abc9c;
}

.navbar-nav .nav-link{
  
 font-size: 16px;
 text-transform: uppercase;
 margin-left: 20px;
 
 color: #727272;

}

.navbar-nav .active > .nav-link{
  color: #1abc9c !important;
}

/*End Navbar*/ 



.our-projects{
padding: 60px 0;
/*height: 2000px;*/

 
}
.our-projects h2{
  font-weight:normal ;
  text-align: center;
}
.our-projects ul{
  margin-top: 50px;
 
   margin-bottom: 50px;
   margin-left: 450px;
}
.our-projects ul li{
  display: inline-block;
  border: 2px solid #D4cccc;
  color:#A7A7A7;
  padding: 10px;
  border-radius: 5px;
  margin-right: 5px;
}
.our-projects ul li.selected{
  background-color: #1abc9c;
  border: 2px solid#1abc9c ;
  color:#FFF ;
}
.our-projects .gallery{
  margin-top: 50px;
  overflow: hidden;
}
/*.our-projects .gallery .row > div:nth-child(2){
  margin-right: 1%;
  margin-left: 1%;
  
}

.our-projects .row > div{
  width: 32.66666%;
  float: left;
  margin-bottom: 5px;
 background-color: #DDD;
  position: relative;
  margin-left: 400px;
  
  
}
/*.our-projects .gallery .row > div .over {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  line-height: 232px;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-align: center;
  background-color:rgba(26, 188, 156, .9) ;
  display: none;
}
.our-projects .gallery .row > div .heart{
  position: absolute;
  bottom:20px ;
  right: 28px;
  color: #FFF;
  display: none;
}
.our-projects .gallery .row > div:hover .over,
.our-projects .gallery .row > div:hover .heart{
  display: block;
}
.our-projects .gallery .row > div img {
  width: 100%;
 /* max-width: 400px;*/
 /* margin: 0;
  padding: 0;
  display: inline-block;
 
  
}*/
.our-projects .shuffle li{
  cursor: pointer;
}
/*.our-projects .mix{
  display: none;
}*/
/*.our-projects .centainer{
  background-color: #EEE;
} */ 
.grid {
  position: relative;
  margin-left: 150px;
}
.item {
  display: block;
  position: absolute;
 /* width: 100px;
  height: 100px;*/
  margin: 5px;
  z-index: 1;
  background: #fff;
  /*color: #fff;*/
}
.item.muuri-item-dragging {
  z-index: 3;
}
.item.muuri-item-releasing {
  z-index: 2;
}
.item.muuri-item-hidden {
  z-index: 0;
}
.item-content {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.item.muuri-item-dragging  img{
    opacity: .5;
}


/* =====================================
   CSS for <video> element
   ===================================== */
   img,video{width: auto; max-width: 100%; height: auto;}

   .html5wrapper{
     width:75%;
     /* this width is arbitrary. it is just to remind you that you contrl the width of the <video> element by setting the width of the CONTAINING element.
     */
   }
   
   /* =====================================
      CSS for <iframe> embedded element
      ===================================== */
   .videoWrapper {
       position: relative;
       padding-bottom: 56.25%; /* 16:9 */
       /* if your video is 4:3 ratio then use the padding-bottom below:*/
       /*padding-bottom: 75%;*/ /* 4:3 */
     
       padding-top: 25px; /* may need to adjust depending on the size of the player controls of the service you use */
       height: 0;
   }
   .videoWrapper iframe {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 80%;
   }

   /*.contact-us{
    padding: 100px;
    
    
  }
  
  .contact-us h2{
    font-size: 23px;
      text-transform: uppercase;
      font-weight: bold;
      color: #535353;
      text-align: center;
  
  }
  
  .contact-us p{
    line-height: 3;
    font-size: 15px;
    width: 100%;
    text-align: center;
    float: left;
    direction: ltr;
    color: #6a6a6a;
   
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
   text-align: left;
    display: block;
    
  }
  
  label {
    padding: 10px 10px 10px 0;
    color: #6a6a6a;
    float: left;
    
  }
  
  
  
  input[type=submit] {
    background-color: #08526d;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 20px 0px 0px 20px;
    float: left;
    
    
  }
  
  input[type=submit]:hover {
    background-color: #ec1c23;
  }
  
  .contact-us {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  
  .col-md-6 {
    float: left;
    width: 40%;
    margin: 0px  100px 0px 10px;
  }
  */
  /* Clear floats after the columns */
  /*.row:after {
    content: "";
    display: table;
    clear: both;
  }*/
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  /*@media screen and (max-width: 600px) {
    .col-md-6  input[type=submit] {
      
      width: 100%;
      margin-top: 0;
    }
  }*/
  

   /* Start Footer */

.footer{
  padding: 100px 0;
}

.footer .site-info h2{
  font-size: 25px;
  margin-bottom: 35px;
}
.footer .site-info h2 span:first-child{
  color: #727272 ;
  font-weight: bold;
}

.footer .site-info h2 span:last-child{
  color:#1abc9c;
}

.footer .site-info p {
  line-height:1.8;
  color: #727272;
}

.footer .site-info a {
  color:#1abc9c;
  font-size: 17px;
  font-weight: bold;
}

.footer .site-info a::before {
  font-family: 'FontAwesome';
  content:"\f138" ;
  display: inline-block;
  margin-right: 5px;
}

.footer .helpful-links h2,
.footer .contact h2{ 
  font-size: 22px;
  color: #1abc9c;
  margin-bottom: 68px; 


}
.footer .helpful-links ul li:before{
  font-family: 'FontAwesome';
  content:"\f138" ;
  margin-right: 5px;
  color: #1abc9c;
  font-size: 12px;
  position: relative;
  top: -3px;

}

.footer .contact ul li{
margin-bottom: 24px;

}
.footer .helpful-links ul li a{
  color: #777;

}

/* End Footer */

/*Start Copyright */
.copyright{
  border-top: 1px solid #c0c0c0;
  padding: 20px;
}

.copyright ul{
  margin: 0;
  

}

.copyright ul li{
 display: inline-block;
 
}

.copyright ul li a{
  color: #777;
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}
.copyright ul li a:hover{
  background-color:#1abc9c;
  border-radius: 50%;
  
}
/*End Copyright */